body {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	background: #282828;
}

/* select nothing */
* {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

a {
	color: #888888;
}

input {
	-webkit-user-select: all;
	-khtml-user-select: all;
	-moz-user-select: all;
	-ms-user-select: all;
	user-select: element;
}

#headband {
	background: #222222;
	width:100%;
	height: 48px;
	position:absolute;
}

#LogoSpinner {
	position: absolute;
	left: 10px;
	top: 4px;
	height: 40px;
}

#OnTheAir {
	display:block;
	width:auto;
	line-height: 30px;
	height:30px;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: 10px;
	
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	top: 0px;
	background: #280000;
	border:1px solid;
	border-radius:3px;
	border-color: #333333;
	text-align: center;
	cursor: default;
}

#OnTheAir.On {
	background: #B80000;
	
}

#OnTheAir.On p{
	color: #DDDDDD;
	text-shadow: 0px 0px 3px #FFF;
}

#OnTheAir p{
	margin: 0px;
	font-family: Verdana;
	font-weight: bold;
	font-size: 16px;
	color: #222222;
	width: 140px;
	
	-webkit-user-select: none;  /* Chrome all / Safari all */
  	-moz-user-select: none;     /* Firefox all */
  	-ms-user-select: none;      /* IE 10+ */
}

#OBSHeader {
	line-height: 48px;
	height: 48px;
	position: absolute;
	left: 60px;
	font-family: neometric;
	font-size: 40px;
	text-decoration: none; 
	
	text-align: left;
	vertical-align: middle;
	color: #DDDDDD;
	margin: 0px;
	
	-webkit-user-select: none;  /* Chrome all / Safari all */
  	-moz-user-select: none;     /* Firefox all */
  	-ms-user-select: none;      /* IE 10+ */
}

#OBSHeader:hover {
	cursor: pointer;
}

#buttoncontainer {
	height: 100%;
	width: auto;
	right: 10px;
	position: absolute;
	border-spacing: 0px;
}
#buttoncontainer tr td {
	padding: 0px;
	padding-left: 0px;
}

#bigOne {
	background: darkgray;
	width:100%;
	position: absolute;
	top: 48px;
	bottom: 48px;				
}

#streamView {
	background: #555555;
	position: absolute;
	right:0px;
	height:100%;
	left:0px;			
}

#chatView {
	background: #222222;
	width:440px;
	position: absolute;
	height:100%;	
	right: 0px;	
}

#statsView {
	background: #111111;
	width:100%;
	position: absolute;
	height:48px;	
	bottom: 0px;
}

#ConnectedLight, #DisconnectedLight 
{
	height:100%;
	width:100%;
	position: absolute;
	top: 0;
	bottom: 0;
}

#Lights {
	position: absolute;
	height: 26px;
	width: 28px;
	left: 14px;
	top: 12px;
	
	background: url("../imgs/connectionsprite.png");
	background-position: 0px 0px;
}

#Lights:hover{
	background-position: 0px -26px;
	cursor: pointer;
}

#Lights.disconnected {
	background-position: 0px -52px;
}

#Lights.disconnected:hover {
	background-position: 0px -78px;
}

#ConnectedLight {
	visibility: hidden;
}

#StatsTableDiv {
	position: absolute;
	right: 0px;
	width: 540px;
	height: 100%;
}
#StatsTable {
	position: absolute;
	height: 100%;
	width: auto;
	right: 0px;
	visibility: hidden;
	border-spacing: 0px;
}

.statlabel, .stattext {
	font-family: "Courier New", Courier, monospace;
	color: #DDDDDD;
	
	font-size:16px;
	text-align: right;
	
	padding-left: 20px;
	padding-right: 10px;
	padding-top:0px;
	padding-bottom: 0px;
}

.stattext {
	font-weight: bold; 
}

#sourcesBox {
	height:100%;
	left: 225px;
	right: 0px;				
	position: absolute;
}

#SourceSceneMenus {
	background: #333333;
	width:225px;
	left: 0px;
	position: absolute;
	height:100%;	
	bottom: 0px;
}

#actualMenus {
	height:100%;
	left: 0px;
	right: 0px;				
	position: absolute;
}
#actualStats {
	position: absolute;
	width: 100%;
	bottom: 0px;
	top: 4px;
}
#actualChat {
	position: absolute;
	height: 100%;
	right: 0px;
	left: 4px;
	z-index: 98;
}

#chathideshow {
	position: absolute;
	bottom: 40px;
	width: 44px;
	height: 40px;
	left: -40px;
	border-radius:4px;
	border-color: #222222;
	
	text-align: center;
	line-height: 33px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 16px;
	
	color: #222222;
	z-index: 99;
	
	vertical-align: bottom;
	background: #222222;
}

#chathideshow div 
{
	position: absolute;
	top: 0px;
	left: 0px;
	
	height: 32px;
	width: 36px;
	margin: 4px;
	
	background: #222222 url("../imgs/chatsprite.png") 0px 0px no-repeat;
	
}

#chathideshow:hover div {
	cursor: pointer;
	background-position: 0px -32px;
}

#chathideshow.open div {
	background-position: 0px -64px;
}

#chathideshow.open div:hover {
	cursor: pointer;
	background-position: 0px -96px;
}

#chatHider {
	position: absolute;
	height: 100%;
	right: 0px;
	left: 4px;
	background: #FFFFFF;
	opacity:0.01;
	filter:alpha(opacity=1);
	z-index: 99;
}

#streambox {
	position: absolute;
	height: 100%;
	width: 100%;
	
	z-index: 90;
}

#streambox *{
	z-index: 90;
}

#configuregear{
	position: absolute;
	width: 25px;
	height: 25px;
	top: 5px;
	left: 5px;
	
	background:url("../imgs/gearsprite.png") 0px 0px;	
	
	z-index: 91;
}

#configuregear:hover{
	background-position: 0px 25px;
	cursor: pointer;
}

.resizeBarVert {
	width:4px;
	position:absolute;
	height: 100%;
}

.resizeBarVert:hover {	
	cursor: w-resize;
}

#menusResizeBar {
	right: 0px;
	background: transparent;
}

.resizeBarHoriz {
	width:100%;
	position:relative;
	height: 4px;
}		

.resizeBarHoriz:hover {	
	cursor:n-resize;
}




/*Customize Scrollbar Appearance in Chrome */
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
	height: 5px;
	display: block;
	background-color: transparent;
}

::-webkit-scrollbar-track-piece  {
	background-color: #3b3b3b;
	-webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
	height: 50px;
	background-color: #777777;
	border: 1px solid #777777;
	-webkit-border-radius: 6px;
}