/* make sure dialog is inivisible at first */
.dialog-form {
	display: none;
}

.dialog-form label, input {
	display: block;
}

.dialog-form input.text {
	margin-bottom: 12px;
	width: 95%;
	padding: .4em;
}

p.diagerror {
	color: rgb(128, 20, 20);
	font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
	font-size: 12px;
	
	margin-top: 5px;
	margin-bottom: 0px;
	
	width: auto;
}

button.ui-dialog-titlebar-close {
    display: none;
}

div.ui-dialog {
	border-radius: 0px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	
	border:none;
}

div.ui-widget-header {
	border: none;
	margin: -.2em;
	background: #222222;
}

.ui-dialog .ui-dialog-buttonpane {
	border: none;
	margin: -.2em;
	padding-top: 0px;
	padding-bottom: 0px;
}

#streamservice {
	color: #222222;
	background: #777;
	
	font-family: Verdana, Arial, sans-serif;
	font-size: 18px;
	
	margin-bottom: 10px;
}

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:35px;
    height:35px;
    margin: 0px 4px 0 4px;
    vertical-align:middle;
    background:url("../imgs/checkboxsprite.png") 0px 35px;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background-position: 0px 0px;
}

#chat_embed {
	position: absolute;
	width: 100%;
	height: 100%;
}
